@import './../../../../styles.scss';
.drop-zone {
    width: 100%;
    height: 70px;
    border: 2px dashed #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3f51b5;
    border-radius: 20px;
}

section {
    padding-top: 8px;
}

.drop-zone.drag-over {
    border-color: #2196f3;
}

.upload-container {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-around;
}

.textarea-container {
    gap: 16px;
    background-color: var(--second-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

textarea {
    background-color: var(--background-color);
    border: none;
    width: 100%;
    height: 130px;
}

.container-first {
    gap: 12%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

section {
    align-items: center;
    justify-content: center;
}

app-universal-card {
    width: 80%;
    height: 80%;
}

h1 {
    font-size: 48px;
    padding: 16px
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


/* image-upload.component.css */

.upload-drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    height: 200px;
    @include center-flex;
    img {
        height: 180px;
        border-radius: 20px;
    }
}

.upload-drop-zone.dragover {
    border-color: #000;
}