@import './../../../styles.scss';
section {
    background-color: var(--secondary-background);
    border: 1px solid var(--main-border-color);
    border-radius: var(--border-radius, 30px);
    min-width: var(--width, 200px);
    min-height: var(--height, 100%);
    padding: var(--padding, 16px);
    margin: var(--margin, 0);
    @include center-flex;
    padding: 16px;
    cursor: pointer;
    &:hover {
        background-color: var(--main-hover-color);
        a {
            color: var(--main-color);
        }
    }
    text-align: end;
}