<!-- <div class="login-out width-and-heigt-100p"> -->

<!-- *ngIf="currentStep === 1" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" -->
<form #contactForm="ngForm" (ngSubmit)="register(contactForm)" class="login">
    <div class="header-container">
        <div class="return-img">
            <mat-icon class="arrow_back" [routerLink]="['/login']">arrow_back</mat-icon>
        </div>
        <h1>Konto erstellen</h1>
        <div></div>
    </div>
    <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dich Angemeldet</span>
    <div>
        <div class="input-fild">
            <mat-icon>account_circle</mat-icon>
            <input type="text" [(ngModel)]="user.username" #usernameField="ngModel" name="username" placeholder="Username" required minlength="4">
        </div>

    </div>

    <div>
        <div class="input-fild">
            <mat-icon>mail_outline</mat-icon>
            <input type="email" [(ngModel)]="user.email" placeholder="Email Adresse" #emailField="ngModel" name="email" required email>
        </div>

    </div>


    <div>
        <div class="input-fild">
            <mat-icon>key</mat-icon>
            <input type="password" [(ngModel)]="user.password" #passwordField="ngModel" name="password" placeholder="Passwort" required minlength="5">
        </div>
    </div>

    <div>
        <div class="input-fild">
            <mat-icon>key</mat-icon>
            <input type="password" [(ngModel)]="user.password2" #passwordField="ngModel" name="password2" placeholder="wiederhole das Passwort bitte" required minlength="5">
        </div>
    </div>

    <div class="d-flex gap8">
        <input class="cursor-pointer checkbox" [(ngModel)]="checkbox" type="checkbox" id="checkbox" name="datenschutz" required>
        <label for="datenschutz">Ich stimme der Datenschutz 
            <a  routerLink="/privacy">Datenschutzerklärung </a><span>zu</span>.
        </label>
    </div>

    <div type="submit" class="buttons">
        <!--  -->
        <app-primary-button [disabled]="!contactForm.valid" [type]="'submit'" [text]="'Regestrieren'" (action)="register(contactForm)"></app-primary-button>
        <app-secondary-button (action)="backToLogin()" [type]="'button'" [text]="'Zurück'"></app-secondary-button>


    </div>



</form>


<!-- ----- step 2 ----- -->
<!-- <form *ngIf="currentStep === 2" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="login">
    <div class=" header-container">
        <img (click)="goToStep(1)" src="./../../assets/log-in/arror-left.svg" alt="">
        <h1>Wähle deinen Avatar</h1>
        <div></div>
    </div> -->
<!-- <img *ngIf="dragAndDropService.profileFile" [src]="" alt="Vorschaubild">

<img *ngIf="!dragAndDropService.profileFile" class="main-img" src="" alt="">

<span class="text">Aus der Liste wählen</span>
<div class="d-flex img-bar">
    <div>
        <img src="./../../assets/user_avatars/women-1.svg" alt="Frauen-Avatar" (click)="selectImage('./../../assets/user_avatars/women-1.svg')">
        <img src="./../../assets/user_avatars/man-1.svg" alt="Männer-Avatar 1" (click)="selectImage('./../../assets/user_avatars/man-1.svg')">
        <img src="./../../assets/user_avatars/man-2.svg" alt="Männer-Avatar 2" (click)="selectImage('./../../assets/user_avatars/man-2.svg')">
    </div>
    <div>
        <img src="./../../assets/user_avatars/man-3.svg" alt="Männer-Avatar 3" (click)="selectImage('./../../assets/user_avatars/man-3.svg')">
        <img src="./../../assets/user_avatars/man-4.svg" alt="Männer-Avatar 4" (click)="selectImage('./../../assets/user_avatars/man-4.svg')">
        <img src="./../../assets/user_avatars/man-5.svg" alt="Männer-Avatar 5" (click)="selectImage('./../../assets/user_avatars/man-5.svg')">
    </div>
</div> -->
<!-- <div (click)="openDialog()" class="upload-img-container">
        <span>Eigenes Bild verwenden</span>
        <div class="btn-upload"><b>Dateil hochladen</b></div>
    </div> -->



<!-- 
        <button type="button" mat-raised-button (click)="openDialog()">Open dialog without animation</button> -->
<!-- <button mat-raised-button (click)="openDialog('3000ms', '1500ms')">Open dialog slowly</button> -->



<!-- <div type="submit" class="buttons">
        <div></div>
        <button [disabled]="!contactForm.valid" class="button-return-login">Weiter</button>
    </div>
</form> -->

<!-- </div> -->
<!-- <app-footer></app-footer> -->