<section class="d-flex p-16">
    <div class="d-flex gap8 head-container">
        <div (click)="layoutService.toggleMenu()" class="button p-8 curser-pointer d-flex">
            <mat-icon>menu</mat-icon>
        </div>
        <div class="img-container">
            <img src="./../../../assets/img/logo_flix_tube.webp" alt="logo_goldene_cam">
        </div>
        <h1>FlixTube</h1>
    </div>
    <div>
        searchbar
    </div>
    <div>
        <img src="" alt="erstellungs cam">
        <img src="" alt="Benachrichtungen">
        <img src="" alt="Logo user">
    </div>
</section>