<section class="d-flex p-16">
    <div class="d-flex gap8 head-container">
        <div (click)="layoutService.toggleMenu()" class="button p-8 curser-pointer d-flex">
            <mat-icon>menu</mat-icon>
        </div>
        <app-logo></app-logo>
        <h1>FlixTube</h1>
    </div>

    <app-searchbar class="d-grow"></app-searchbar>

    <div class="d-flex align-items-center gap8 ">
        <div (mouseenter)="HoverUploadText = true" (mouseleave)="HoverUploadText = false" class="upload-container p-8" (click)="loadUploadFile()">
            <mat-icon>videocam</mat-icon>
        </div>
        <div>
            <app-user-img (click)="layoutService.toggleUserMenu()"></app-user-img>
        </div>
        <div>
            <span [class.upload-text-hover]="HoverUploadText" class="upload-text">Video Hochladen</span>
        </div>
    </div>
</section>